@CHARSET "UTF-8";

HTML { /* Workaround for GWT issue 1932 */
	margin: 0px !important;
	border: none !important;
	background-color: white;
	font-family: arial, helvetica, sans-serif;
}

.dragdrop-handle {
	cursor: move;
	user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
}

.dragdrop-draggable {
	zoom: 1; /* IE gain hasLayout */
}

.dragdrop-dragging {
	zoom: normal; /* remove artifacts */
}

.dragdrop-positioner {
	border: 1px dashed #1E90FF; /* blue */
	margin: 0px !important;
	zoom: 1; /* IE gain hasLayout */
	z-index: 100;
}

.dragdrop-flow-panel-positioner {
	color: #1E90FF; /* blue */
	display: inline;
	text-align: center;
	vertical-align: middle;
}

.dragdrop-proxy {
	background-color: #77AAFF; /* light blue */
}

.dragdrop-selected,.dragdrop-dragging,.dragdrop-proxy {
	filter: alpha(opacity =   30);
	opacity: 0.3;
}

.dragdrop-movable-panel {
	z-index: 200;
	margin: 0px !important;
	border: none !important;
}

.ssm {
	
}

.ssm-column-composite {
	margin: 10px !important;
	border: 1px solid #AAAAFF;
}

.ssm-container {
	margin: 0px !important;
	border: 1px !important;
}

.ssm-heading {
	color: #EEEEEE;
	border: 0;
	font-size: 12px;
}

.ssm-title-background {
	background-color: #000000;
}

.ssm-collapsed-background {
	
}

.ytb-text {
	font-size: 125% !important;
	font-weight: 600 !important;
}

.page-header {
	color: #111111;
	margin-left: 10px !important;
}

.drag-handle {
	background-image: url("../images/drag.gif");
	background-repeat: repeat;
	background-color: FFAAFF;
	height: 10px;
	width: 100%;
	border: 0;
}

.group-drag-handle {
	background-image: url("../images/drag-group.gif");
	background-repeat: repeat;
	background-color: AAAAFF;
	height: 14px;
	width: 100%;
	border: 0;
}

.ssm-widget {
	border: 1px dashed #1E90FF; /* blue */
	margin: 0px !important;
	zoom: 1; /* IE gain hasLayout */
	background-color: #FFFEFF;
}

.ssm-background {
	background: #CEDFF5 !important;
}

.tab-icon-router {
	background-image: url(../images/router_16x16.gif) !important;
}

.tab-icon-settings {
	background-image: url(../images/settings1_16x16.gif ) !important;
}

.tab-icon-save {
	background-image: url(../images/save_16x16.gif) !important;
}

.tab-icon-source {
	background-image: url(../images/view_source_16x16.gif ) !important;
}

.tab-icon-log {
	background-image: url(../images/log_16x16.gif) !important;
}

.tab-icon-help {
	background-image: url(../images/help_16x16.gif ) !important;
}

.tab-icon-deploy {
	background-image: url(../images/deploy_16x16.gif ) !important;
}