<?xml version="1.0" encoding="iso-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <listener>      
      <listener-class>org.mobicents.servlet.sip.alerting.util.InitializationListener</listener-class>
   </listener>
    <servlet>
        <servlet-name>PhoneAlertServlet</servlet-name>
        <servlet-class>org.mobicents.servlet.sip.alerting.PhoneAlertServlet</servlet-class>
        <load-on-startup>1</load-on-startup>        
    </servlet>
    <servlet>
        <servlet-name>RedOxygenSmsAlertServlet</servlet-name>
        <servlet-class>org.mobicents.servlet.sip.alerting.RedOxygenSmsAlertServlet</servlet-class>
        <load-on-startup>1</load-on-startup>        
    </servlet>
     <servlet>
        <servlet-name>EsendexSmsAlertServlet</servlet-name>
        <servlet-class>org.mobicents.servlet.sip.alerting.EsendexSmsAlertServlet</servlet-class>
        <load-on-startup>1</load-on-startup>        
    </servlet>
     <servlet>
        <servlet-name>EricssonSmsAlertServlet</servlet-name>
        <servlet-class>org.mobicents.servlet.sip.alerting.EricssonSmsAlertServlet</servlet-class>
        <load-on-startup>1</load-on-startup>        
    </servlet>
     <servlet>
        <servlet-name>JainSleeSmsAlertServlet</servlet-name>
        <servlet-class>org.mobicents.servlet.sip.alerting.JainSleeSmsAlertServlet</servlet-class>
        <load-on-startup>1</load-on-startup>        
    </servlet>        
    
    <servlet-mapping>
        <servlet-name>PhoneAlertServlet</servlet-name>
        <url-pattern>/call</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JainSleeSmsAlertServlet</servlet-name>
        <url-pattern>/jain-slee-sms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsendexSmsAlertServlet</servlet-name>
        <url-pattern>/esendex-sms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EricssonSmsAlertServlet</servlet-name>
        <url-pattern>/ericsson-sms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsendexSmsAlertServlet</servlet-name>
        <url-pattern>/sms</url-pattern>
    </servlet-mapping>
    
    
    <context-param>
      <param-name>esendexAccountRef</param-name>
      <param-value>XXXXXX</param-value>
    </context-param>
    
    <context-param>
      <param-name>esendexUserName</param-name>
      <param-value>XXXXX</param-value>
    </context-param>
    
    <context-param>
      <param-name>esendexPassword</param-name>
      <param-value>XXXXX</param-value>
    </context-param>
    
         
</web-app>