/* project: internet services template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
   
body { 
	padding: 0; 
	margin: 0; 
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
	font-size:11px;
	line-height: 1.5em;
	background-color:#e6e7e8;
	color: #454545;
	background-color:#e6e7e8;
	background-image:url(bkg_left.gif);
	background-repeat:repeat-x; 
}

a {	color: #E0691A;	background: inherit;}
a:hover { color: #6C757A; background: inherit; }

h1 { font: normal 1.5em Arial, Sans-Serif; letter-spacing: -1px; padding: 7px 0 0 8px; margin: 0; }
.dark  { color: #737373; background: inherit; font-weight: bold; }
h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { color: #FF6600; background: inherit; }
h2 { margin: 10px 0 5px 0; padding: 0; font: bold 1.2em Arial, Sans-Serif; letter-spacing: -1px; }
h2 { font-size: 1.2em; margin-bottom: 5px; color: #000; background: inherit; }
img { border: 0; }
p {	margin: 0 0 5px 0; }

ul { margin: 0; padding : 0; list-style : none; }

form { 	margin: 0; }

input.search { 
	width: 292px; 
	border: 0;
	background: #FFF url(input.gif) no-repeat;
	padding: 4px; 
	color: #E0691A;
	font-weight: bold;
}

input.submit {
	background: #E0691A url(submit.gif) no-repeat;
	border: 0;
	padding: 4px 0;
	width: 65px;
	margin: 0 15px 1px 0;
	color: #FFF;
	font: bold 1em Arial, Sans-Serif;
}

input.login { 
	width: 150px;
	border: none; 
	
	padding: 4px; 
}

/* layout
   ------ */

.content {
	margin: 0 auto;
	width: 780px;
	background-color: #FFFFFF;

}

.header { 
	height: 65px;
	background-image:url(bkgheader_noleft.gif);
	background-repeat:repeat-x;
	background-color:#3b4f66;
	color: #808080;
	padding: 0px;
	border-bottom: 1px solid #FFFFFF;
}

.contentwrapper {
	clear:both;
	padding: 6px 10px 0px 10px;
	background-color: #FFFFFF;
	overflow: hidden;

}

/* ------------ utility navigation ----------------- */

.top_info {
	float: right;
	width: 530px;
	padding-top: 20px;
	color: #FFFFFF;
}

	.top_info_left {
		float: left;
		padding-top: 5px;
	}

	.top_info_right {
		float: right;
		padding-right: 20px;
	}



/* ------------ logo placement in header   ---------------- */

#logo { 
	height: 65px;
	background-image:url(mobicents_logo.gif);
	background-repeat:no-repeat; 
}

#logo H1 {
	visibility:hidden;
}

/* --------------------- Primary Navigation styles ------------------ */

.bar { 
	clear: both;
}

.bar ul {
	font-size: 1.1em;
	color: #FFF;
	margin: 0 0 3px 0px; 
	background: #FF9148;
	margin: 0;	
	padding: 5px 0px;
	list-style: none;

}

.bar li { 
	color: #FFEADC;
	background: #FF9148;
	display: inline;

}
	
.bar li.active {
	background: #E0691A url(bar.gif) no-repeat center top; 
	color: #fff;
	font-weight: bold; 
 padding: 5px 0px;
}
	
.bar li a { 
	font-weight: bold;
	color: #FFF; 
	background: none;
	text-decoration: none;
	padding: 7px 12px 5px 12px;

} 
	
.bar li a:hover { 
	color: #E0691A; 
 /*   background: inherit; */
}

.bar li.active a:hover { 
	color: #FF9148; 
/*	background: inherit; */
} 	

.browse_category  {
	font-size: 0.9em;
	padding-right: 40px;
	padding-left: 10px;
	color: #FFF;
/*	background: inherit; */
}

/*  ----------  misc styles ---------------- */


.search_field { 
	background: #fff url(searchbg.gif) no-repeat right; 
	color: #808080;
	clear: both;
	font-weight: bold;
	padding: 7px 25px 10px 10px;
	margin: 5px 0;
}

.grey {
	color: #808080;
	background: inherit;
	font-weight: normal;
}

.search_form { float: right; }

.subheader {
	margin: 0px 0 10px 0;
	border-bottom: 1px solid #eee;
	padding: 5px 0 5px 0;
	background: #A4A4A4;
	color: #fff;
}


/* ---------------------- Left side content layout  --------- */

.left {
	float: left;
	width: 63%;
	margin: 0 0 10px 0;
}

#h3_1 {
	clear: both;
	color: #3B4E65;
	padding: 7px 0 7px 5px;
	font: bold 1.2 em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
	border-bottom: 1px solid #3B4E65;
	background-image:url(H3_hdrbkg1.gif);
	background-repeat:repeat-x;
}
#h3_2 {
	clear: both;
	color: #3B4E65;
	padding: 7px 0 7px 5px;
	font: bold 1.2 em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
	border-bottom: 1px solid #3B4E65;
	background-image:url(H3_hdrbkg2.gif);
	background-repeat:repeat-x;
}
#h3_3 {
	clear: both;
	color: #3B4E65;
	padding: 7px 0 7px 5px;
	font: bold 1.2 em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
	border-bottom: 1px solid #3B4E65;
	background-image:url(H3_hdrbkg3.gif);
	background-repeat:repeat-x;
}
#h3_4 {
	clear: both;
	color: #3B4E65;
	padding: 7px 0 7px 5px;
	font: bold 1.2 em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
	border-bottom: 1px solid #3B4E65;
	background-image:url(H3_hdrbkg4.gif);
	background-repeat:repeat-x;
}

.left_side {
	float: left;
	width: 180px;
	padding: 0 0 0 10px;
	margin: 10px 0;
}
		
.left_side a, .right_side a { color: #414141; background: #FFF; }
		
.right_side {
	float: right;
	width: 220px;
	color: #414141;
	padding: 0 0 0 40px;
	margin: 10px 0;
}
		
.left_box { 
	margin: 0 0 10px 0; 
	color: #000; 
	background: #FFF; 
	padding: 3px 0;
}
	
		
/* ------------------- Right side content layout ---------------------- */
		
.right {
	float: right;
	width: 35%;
	background-image:url(bkg_home_2ndcol.gif);
	background-repeat:repeat-y;	
}

.right h3 {
	background: #3B4E65;
	background-image:url(portlethdr_home.gif);
	background-repeat:repeat-x;
	color: #FFF;
	padding: 7px 0 7px 5px;
	font: bold 1 em Tahoma, Arial, Sans-Serif;
	margin: 0 0 3px 0;
}

.right_articles {
	
	padding: 10px;	
	margin: 0 0 3px 0;
}
	
.image {
	float: left;
	margin: 0 9px 5px 0;
}

.sponsors {
	padding: 3px;
	border: 1px solid #ccc;
	margin: 0 0 3px 0;
}

/* ---------------------------  Column Balancer ----------------------------------- */
.left, .right {
	padding-bottom: 30005px;
	margin-bottom: -30000px;
	}

/* ---------------------------   footer  ---------------------------------------- */

.footer { 
	clear: both;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0;
	border-top: 1px solid #ccc;
	line-height: 1.8em;
}

.footer a { 
	color: #808080;
}