<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.wst.common.project.facet.core.presets">
		<static-preset id="mobicents.sip.servlet.preset">
			<label>Converged SIP/Web Project</label>
			<description>Creates a web project with Sip Servlets
				capabilities and other SIP-related tooling.</description>
			<facet id="jst.java" version="5.0" />
			<facet id="jst.web" version="2.4" />
			<facet id="mobicents.sip.servlet.core" version="1.0" />
		</static-preset>
		<static-preset
           id="mobicents.sip.servlet.jsf12.preset">
	    <label>Converged SIP/Web Project with JBoss (recommended)</label>
	    <facet id="jst.java" version="5.0"/>
	    <facet id="jst.web" version="2.5"/>
	    <facet id="mobicents.sip.servlet.core" version="1.0" />
     	<description>
        	Creates a web project with Sip Servlets capabilities and other SIP-related tooling.
     	</description>
     </static-preset>
     		<static-preset
           id="mobicents.sip.servlet.jsf11.preset">
	    <label>Converged SIP/Web Project with JSF 1.2</label>
	    <facet id="jst.java" version="5.0"/>
	    <facet id="jst.web" version="2.5"/>
	    <facet id="jst.jsf" version="1.2"/>
	    <facet id="mobicents.sip.servlet.core" version="1.0" />
     	<description>
        	Creates a web project with JSF 1.2, Sip Servlets capabilities and other SIP-related tooling.
     	</description>
     </static-preset>
	</extension>
	<extension point="org.eclipse.ui.editors">
		<editor name="Sip XML Editor" extensions="xml" icon="icons/sample.gif"
			contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
			class="org.mobicents.sip.servlet.tooling.editors.SipXMLEditor" id="sip_servlets_eclipse_plugin.editors.SipXMLEditor">
		</editor>
	</extension>

	<extension point="org.eclipse.wst.common.project.facet.core.facets">


		<project-facet id="mobicents.sip.servlet.core">
			<label>Sip Servlets</label>
			<description>
				Enables adding SIP Servlets (JSR 289) to the project and other SIP-related
				tooling.
    </description>
		</project-facet>

		<project-facet-version facet="mobicents.sip.servlet.core"
			version="1.0">
			<action type="INSTALL" id="mobicents.sip.servlet.facet.appwizard">
				<delegate class="org.mobicents.sip.servlet.tooling.SipServletFacetAction" />
				<config-factory
					class="org.mobicents.sip.servlet.tooling.SipServletApplicationConfig$Factory" />
			</action>

			<constraint>
				<requires facet="jst.web" version="2.2,2.3,2.4,2.5"/>
			</constraint> 
		</project-facet-version>


	</extension>
<extension point="org.eclipse.wst.common.project.facet.core.runtimes">

    <supported>
    <runtime-component any="true"/>
    <facet id="mobicents.sip.servlet.core"/>
  </supported>
</extension>

	<extension point="org.eclipse.wst.common.project.facet.ui.wizardPages">
		<wizard-pages action="mobicents.sip.servlet.facet.appwizard">
			<page class="org.mobicents.sip.servlet.tooling.SipServletFacetWizard" />
		</wizard-pages>
	</extension>

   

<extension point="org.eclipse.wst.server.ui.editorPages">
	<page id="com.mobicents.router.page" order="20" name="Sip Servlets Management" typeIds="*"
		class="org.mobicents.sip.servlet.tooling.wst.server.ui.editor.ApplicationRouterEditorPart"/>
</extension>


</plugin>
