<?xml version="1.0" encoding="iso-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

    <display-name>PBX</display-name>
    <description>Simple PBX</description>

    <servlet>
        <servlet-name>display</servlet-name>
        <servlet-class>org.mobicents.servlet.sip.pbx.web.DisplayServlet</servlet-class>
        <load-on-startup>1</load-on-startup>        
    </servlet>
    <servlet-mapping>
        <servlet-name>display</servlet-name>
        <url-pattern>/display</url-pattern>
    </servlet-mapping>
</web-app>