<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5" 
xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
    	<servlet-name>ApiTestMainHttpServlet</servlet-name>
    	<servlet-class>com.bea.sipservlet.tck.apps.api.ApiTestMainHttpServlet</servlet-class>
    	<load-on-startup>1</load-on-startup>
  </servlet>
  
	<servlet>
    	<servlet-name>ConvergedHttpSession</servlet-name>
    	<servlet-class>com.bea.sipservlet.tck.apps.api.ConvergedHttpSessionServlet</servlet-class>
    	<load-on-startup>2</load-on-startup>
  </servlet>  
  
  <servlet-mapping> 
		<servlet-name>ApiTestMainHttpServlet</servlet-name> 
		<url-pattern>/*</url-pattern> 
 	</servlet-mapping> 
  <servlet-mapping> 
		<servlet-name>ConvergedHttpSession</servlet-name> 
		<url-pattern>/ConvergedHttpSession</url-pattern> 
 	</servlet-mapping> 
</web-app>
