<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Mobicents"
            id="sip_phone_plugin">
      </category>
      <view
            name="SIP Phone"
            icon="icons/sample.gif"
            category="sip_phone_plugin"
            class="org.mobicents.sip.phone.views.SipPhoneView"
            id="org.mobicents.sip.phone.views.SipPhoneView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="org.mobicents.sip.phone.views.SipPhoneView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
