<?xml version="1.0" encoding="UTF-8"?>

<sip-app>
	<app-name>org.mobicents.servlet.sip.testsuite.PublishApplication</app-name>
	<display-name>Publish Sip Servlet</display-name>
	<description>Publish Sip Servlet</description>
	
	<main-servlet>
		PublishSipServlet
	</main-servlet>

	<servlet>
		<servlet-name>PublishSipServlet</servlet-name>
		<display-name>PublishSipServlet</display-name>
		<description>Publish Sip Servlet</description>
		<servlet-class>
			org.mobicents.servlet.sip.testsuite.PublishSipServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
</sip-app>