.header {
	background: url('../images/top-background.png');
	width: 960px;
}
.left-menu {
	width: 160px;
	float: left;
}
.content {
	width: 800px;
	float: left;
}
.console {
	background-color: #FAFAFA;
	border: 2px solid #DFDFDF;
	padding: 3px;
	width: 99%;
	font-family: monospace;
	color: black;
	height: 160px;
	overflow: auto; position: relative;
	border-radius: 4px;
	font-size: 12px;
}

.console-wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-left: -18px;
}


.attachment {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 3px;
    float: right;
}

.attachment span {
	font-weight: bold;
}

.attachment button {
    margin: 0px;
    margin-left: 15px;
    opacity: .3;
    border: 0px;
    background: none;
    padding: 0px;
}

.attachment button:hover {opacity: 1;}

.du-row {
	display: none;
}

.bold {
	font-weight: bold;
}

.component-row {
	cursor: pointer;
}

.component-row-details {
	display: none;
}

tbody tr:hover td.component-row-details-cell {
	background-color: transparent;
}

/* From GWT */
.panel-title { /* was .common-SmartTabPanel-Title */
	background-color: #FFFFFF;
	font-weight: bold;
	color: #2b4a6d;
	padding-top: 5px;
	padding-left: 12px;
	font-size: 18px;
}

.large-checkbox {
	-webkit-transform: scale(1.3,1.3);
	-moz-transform: scale(1.3,1.3);
	-o-transform: scale(1.3,1.3);
}

.table td {
	font-size: 16px;
	vertical-align: middle;
}

.modal-large {
	width: 900px; /* SET THE WIDTH OF THE MODAL */
	margin: 0 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

.modal-medium {
	width: 650px; /* SET THE WIDTH OF THE MODAL */
	margin: 0 0 0 -325px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

/** --- Alarms Page Styles ------------------------------------------------ **/

.alarm-critical {
	background-color: #f58888;
}

.alarm-major {
	background-color: #f2dede;
}

.alarm-warning {
	background-color: #fcf8e3;
}

.alarm-indeterminate {
	background-color: #cee2e6;
}

.alarm-minor {
	background-color: #dff0d8;
}

.alarm-label-box {
	border-radius: 4px;
	padding: 2px;
}

/** --- Profiles Page Styles ---------------------------------------------- **/

.prof-table-2nd-step {
	display: none;
}

#profiles-wrapper {
	display: none;
}

.advertisement {
	display: none;
	text-align: justify;
}

.prepended-slider {
	margin-left: 50px;
}

textarea.code {
	font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

textarea.hardcore-code {
	background-color: #000;
	color: #0F0;
}

.ui-helper-hidden-accessible { display:none; }

.participant {	
	height:140px; 
	width:140px; 
	overflow:hidden;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 2s;
	-webkit-border-radius: 70px;
	-moz-border-radius: 70px;
	-ms-border-radius: 70px;
	-o-border-radius: 70px;
	border-radius: 70px;
	-webkit-mask-image: url('../images/rect.svg');
}
