<?xml version="1.0" encoding="UTF-8"?>

<sip-app>
	<app-name>org.mobicents.servlet.sip.testsuite.ReferApplication</app-name>
	<display-name>Refer Sip Servlet</display-name>
	<description>Refer Sip Servlet</description>
	
	<main-servlet>
		ReferSipServlet
	</main-servlet>

	<servlet>
		<servlet-name>ReferSipServlet</servlet-name>
		<display-name>ReferSipServlet</display-name>
		<description>Refer SIP servlet</description>
		<servlet-class>
			org.mobicents.servlet.sip.testsuite.ReferSipServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
</sip-app>