body {
	font-size: 12px;
}

a:active,a:link,a:visited {
	color: #EEBA11;
}

a:hover {
	color: #8CAFCD;
}

centered {
	margin-left: auto;
	margin-right: auto;
	width: 6em
}

input,textarea {
	border: 1px solid #BBBBBB;
	font-size: 10px;
	background: #F0F8FF;
	color: black;
}

input[type='submit'],input[type='button'] {
	background: #4477AA;
	color: white;
	margin: 5px;
	border-color: gray;
}

.tableControl,.actionButtons {
	width: 100%;
}

.tableControl a {
	padding-left: 10px;
}

.tableControl {
	text-align: right;
}

.footer {
	text-align: right;
	float:right;
	font-size: 10px;
}

.mainbody {
	width: 300px;
	background-image: url('img/leftbg.png');
}

.rich-table {
	width: 100%;
}

h1 {
	font-family: Arial, sans-serif;
	color: #666;
	font-size: 1.6em;
	margin-top: 0;
}

body {
	margin: 0px;
	font-family: Arial, sans-serif;
	color: #616161;
}

.body {
	padding: 30px;
}

.columnHeader:hover {
	color: #FF6600;
}

.message {
	border: 1px solid #FFCC00;
	padding: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #F0F8FF;
	font-size: 12px;
	list-style: none;
}

.message li {
	background: no-repeat left center;
	padding-top: 1px;
	padding-left: 20px;
	margin-left: 3px;
}

.message li.infomsg {
	background-image: url(../img/msginfo.png);
}

.message li.errormsg {
	background-image: url(../img/msgerror.png);
}

.message li.warnmsg {
	background-image: url(../img/msgwarn.png);
}

.name {
	vertical-align: top;
	font-weight: bold;
	width: 115px;
	float: left;
	padding: 5px;
	margin-top: 3px;
	clear: left;
}

.value {
	float: left;
	padding: 5px;
}

.error {
	float: left;
	padding: 5px;
}

.errors {
	color: red;
	vertical-align: middle;
}

img.errors {
	padding-right: 5px;
}

.errors input {
	border: 1px solid red;
}

.errors textarea {
	border: 1px solid red;
}

.required {
	color: red;
	padding-left: 2px;
}

.rich-stglpanel-body {
	overflow: auto;
}

.leftpanel {
	left: 12px;
	position: absolute;
	top: 52px;
	width: 320px;
	z-index: 10;
	background-color: #000;
	padding-right: 1px;
	padding-top: 6px;
	padding-bottom: 3px;
	padding-left: 1px;
}

.leftpanelcolumn:hover {
	background-color: #f8f8f8;
}

.leftpanelcolumn {
	margin: 0;
	padding-left: 6px;
}

A:link {
	text-decoration: none;
	color: #333;
}

A:visited {
	text-decoration: none;
	color: #333;
}

A:active {
	text-decoration: none;
	color: #333;
}

A:hover {
	text-decoration: none;
	color: #8CAFCD;
}

.rightpanel {
	background-color: #ccf;
	padding-right: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 6px;
		filter:alpha(opacity=77);
	-moz-opacity:0.77;
	-khtml-opacity: 0.77;
	opacity: 0.77;
}

.helphint {
	border: solid 1px;
	background-color: #fff0aa;
	margin: 0px;
}

.regUriName {
	font-weight: 140%;
	font-size: 106%;
	color: #444;
}

.conUriName {
	font-weight: 500;
	font-size: 98%;
	color: #447;
}

.titleHeader {
	background-color: #000; width: 940px; color:#777;
}
.titleHeader A:link {
	text-decoration: none;
	color: #999;
}

.titleHeaderA:visited {
	text-decoration: none;
	color: #999;
}

.titleHeader A:active {
	text-decoration: none;
	color: #999;
}

.uriSub {
	font-weight: 100;
	font-size: 82%;
	color: #aaa;
}


.roundcont {
	background-color:#000; /*#f90;*/
	color: #fff;
	padding-right:5px;
}

.back-logo {
	 width:804px;
	 height:821px;
	 position:absolute;
	 z-index: -999; 
	 top:-120px; 
	 left:140px; 
	 background-image:url('../img/ipbx-theme.png');
	 filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
	
.history {
	filter:alpha(opacity=87);
	-moz-opacity:0.87;
	-khtml-opacity: 0.87;
	opacity: 0.87;
	font-size:93%;
	/*
width:700px;position:absolute;z-index: 999; bottom:50px;left:400px;
*/
			
}